
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span2" >
		   
            <h3> <%= gravatar_for @user %> <%= @user.nom %></h3>
            <h3>Email : <%= @user.email %></h3>
            <h6>URL: <%= link_to user_path(@user), @user %></h6>

        </div>
	</div>
</div>